---
import { Icon } from 'astro-icon'
import Base from '../layouts/base.astro'
import Map from '../components/map.astro'
import PageHero from '../components/pagehero.astro'
import { SiteMetadata } from '../config'

const frontmatter = {
  title: 'Contact',
  description:
    'I reserve a few hours a week for introductory calls.  Schedule time with me or send me a message and hear back within one business day.',
  coverSVG: '../images/svg/undraw/undraw_contact_us.svg',
  socialImage: '../images/undraw/undraw_contact_us.png',
  publishDate: SiteMetadata.buildTime,
}
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    />
  </header>
  <main>
    <section class="mb-20 text-gray-800 dark:text-gray-100 mx-auto max-w-7xl">
      <div class="block bg-white dark:bg-gray-900 lg:my-8">
        <div class="flex flex-wrap items-center">
          <div
            class="grow-0 shrink-0 basis-auto block w-full lg:flex lg:w-6/12 xl:w-4/12"
          >
            <div class="w-full">
              {
                SiteMetadata.social.map(
                  method =>
                    method.link && (
                      <div class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12">
                        <div class="flex items-start">
                          <div class="shrink-0">
                            <Icon
                              pack="bi"
                              name={method.icon}
                              class="p-4 bg-green-700 text-white rounded-md shadow-md w-14 h-14 flex items-center justify-center"
                            />
                          </div>
                          <div class="grow ml-6">
                            <p class="font-bold mb-1">{method.name}</p>
                            <p>
                              {' '}
                              <a
                                href={method.link}
                                class="text-green-700 hover:text-pink-400 dark:text-yellow-300 dark:hover:text-pink-300"
                              >
                                {method.link}
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    )
                )
              }
            </div>
          </div>
          <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
            <div class="flex flex-wrap pt-8 lg:pt-0">
              <div class="hb-p-6467c0085ea4e1002a8c1e87-1"></div><img height="1" width="1" style="display:none" src="https://www.honeybook.com/p.png?pid=6467c0085ea4e1002a8c1e87">
              <script>
                (function(h,b,s,n,i,p,e,t) {
                  h._HB_ = h._HB_ || {};h._HB_.pid = i;;;;
                  t=b.createElement(s);t.type="text/javascript";t.async=!0;t.src=n;
                  e=b.getElementsByTagName(s)[0];e.parentNode.insertBefore(t,e);
              })(window,document,"script","https://widget.honeybook.com/assets_users_production/websiteplacements/placement-controller.min.js","6467c0085ea4e1002a8c1e87");
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Base>
