---
import { Icon } from 'astro-icon'
import { authorDetail, categoryDetail, Frontmatter } from '../config'
import Categories from '../components/categories.astro'
import Tags from '../components/tags.astro'
import Img from '../components/img.astro'

export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props

const image =
  frontmatter.coverSVG ||
  frontmatter.coverImage ||
  (frontmatter.images && frontmatter.images[0]) ||
  frontmatter.socialImage ||
  categoryDetail(frontmatter.categories && frontmatter.categories[0]).coverSVG
---
  
  <div class="p-4 bottom-0 left-0 bg-yellow-400">
    <Categories categories={frontmatter.categories} />
    <h2 class="text-4xl font-bold text-black leading-tight">
      {frontmatter.title}
    </h2>
    <span class="flex mt-3">
      {
        frontmatter.author && (
          <span class="flex items-center mr-6">
            <Img
              src={authorDetail(frontmatter.author).image}
              alt={frontmatter.author}
              class="h-10 w-10 rounded-full mr-2 object-cover"
            />
            <Icon
              class="w-6 h-6 mr-1 text-gray-700"
              pack="heroicons-outline"
              name="user-circle"
            />
            <span class="font-semibold text-gray-700">
              {frontmatter.author}
            </span>
          </span>
        )
      }
      <span class="flex items-center mr-6">
        <Icon
          class="w-6 h-6 mr-1 text-gray-700"
          pack="heroicons-outline"
          name="calendar"
        />
        <span class="font-semibold text-gray-700 ml-1">
          {new Date(frontmatter.publishDate).toLocaleDateString("en-US", { month: "short", day: "numeric", year: "numeric" })}
        </span>
      </span>
      <span class="flex items-center">
        <Icon
          class="w-6 h-6 mr-1 text-gray-700"
          pack="heroicons-outline"
          name="clock"
        />
        <span class="font-semibold text-gray-700 ml-1">
          {frontmatter.minutesRead}
        </span>
      </span>
    </span>
    <Tags tags={frontmatter.tags} />
  </div>
</div>
<div class="h-80 xs:h-32 sm:h-64 md:h-64 lg:h-80 xl:h-80 overlfow-y-auto bg-gray-200 bg-gradient-to-b from-yellow-400 to-white dark:to-black">
  <Img
      src={image}
      alt="featured image"
      class="object-contain h-full pt-2 pb-2"
    />  
  </div>
</header>
